html
{ overflow : auto; }


body
{ background:
	url("src/img/leviathan-background-sm.png")
    	no-repeat fixed;

  -webkit-background-size : cover;
  -moz-background-size    : cover;
  -o-background-size      : cover;
  background-size         : cover;

  height : 100%;
  width  : auto;
}


.nav,
.pagination,
.carousel,
.panel-title a
{ cursor: pointer; }
