<!DOCTYPE html>
<html
   lang   = "en"
   ng-app = "">


<!-- Meta
------------------------------------------------------------------------------->
{% include meta.html %}

<title>
  {{ page.title }} | {{ site.title }} – {{ site.description }}
</title>


<!-- Banner
------------------------------------------------------------------------------->
{% include banner.html %}


<!-- Navigation
------------------------------------------------------------------------------->
{% include nav.html %}


<!-- Mast
------------------------------------------------------------------------------->
{% include mast.html%}


<!-- Body
------------------------------------------------------------------------------->
<section id="page-content" class="container">
  {{ content }}
</section>


<!-- Footer
------------------------------------------------------------------------------->
{% include footer.html %}


<!-- Resources
------------------------------------------------------------------------------->
{% include resources.html %}
