<!DOCTYPE html>
<html
   lang   = "{{ site.language }}"
   ng-app = "{{ site.ngapp }}">


<!-- Meta
------------------------------------------------------------------------------->
{% include meta.html %}

<title>
  {{ page.title }} | {{ site.title }} – {{ site.description }}
</title>

<!-- Banner
------------------------------------------------------------------------------->
{% include banner.html %}

<!-- Navigation
------------------------------------------------------------------------------->
{% include nav.html %}

<!-- Mast
------------------------------------------------------------------------------->
{% include mast.html %}

<!-- Body
------------------------------------------------------------------------------->
<section class="container">
  {{ content }}
</section>

<!-- Footer
------------------------------------------------------------------------------->
{% include footer.html %}

<!-- Resources
------------------------------------------------------------------------------->
{% include resources.html %}
